
<br>
<div id="pnlCreateEditForm">

    <mat-expansion-panel [expanded]="true">
        <mat-expansion-panel-header>
          <mat-panel-title>
            <mat-icon>border_color</mat-icon>  New / Edit
          </mat-panel-title> 
        </mat-expansion-panel-header>
        <form #form="ngForm" (submit)="onSubmitClick(form)" novalidate>
    <div class="row">
      <div Class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Name </mat-label>
          <input matInput [(ngModel)]="Model.name" maxlength="100" name="name" #name="ngModel" required>
       
          <mat-error *ngIf="!form.controls['name'].valid && form.controls['name'].touched"class="mat-text-warn">
            <app-validation-message [control]="form.controls['name']" fieldDisplayName="Name"></app-validation-message>
          </mat-error>
        </mat-form-field>  
      </div>

      <div Class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>Sure Name</mat-label>
          <input matInput [(ngModel)]="Model.sureName" maxlength="100" name="sureName" #sureName="ngModel" required>
          <mat-error *ngIf="!form.controls['sureName'].valid && form.controls['sureName'].touched"class="mat-text-warn">
            <app-validation-message [control]="form.controls['sureName']" fieldDisplayName="Sure Name"></app-validation-message>
          </mat-error>
        </mat-form-field>  
      </div>
   
      <div Class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
        <mat-form-field class="example-full-width" appearance="fill">
          <mat-label>NationalCode</mat-label>
          <input matInput [(ngModel)]="Model.nationalCode" maxlength="10" name="nationalCode" #nationalCode="ngModel" >
          <mat-error *ngIf="!form.controls['nationalCode'].valid && form.controls['nationalCode'].touched"class="mat-text-warn">
            <app-validation-message [control]="form.controls['nationalCode']" fieldDisplayName="NationalCode"></app-validation-message>
          </mat-error>
        </mat-form-field>  
      </div>
     
     </div>
 
     
 
    <div Class="row">
 
      <mat-grid-list cols="5" rowHeight="100px">
        <mat-grid-tile> 
        </mat-grid-tile> 
        <mat-grid-tile> 
        </mat-grid-tile> 
        
        <mat-grid-tile class="text-center">
          <button *ngIf="showRegisterButton" mat-raised-button class="btn btn-success" [disabled]="form.invalid" type="submit">Submit</button> 
        </mat-grid-tile>
      </mat-grid-list>
 
    </div>
  </form>
</mat-expansion-panel>
</div>
