.mat-toolbar {
  height: 7vh;
}

.mat-sidenav-container {
  min-height: 93vh !important;
}

.mat-sidenav-container  {
  min-height: 100%;
  min-width: 100%;
  position: absolute;
}
a {
  text-decoration: none;
  white-space: normal;
}
.sidenav-container a {
  display: inline-block;
  width: 100%;
  padding: 5px 0;
}

.sidenav-container div {
  padding: 5px 5px 5px 5px !important;
  margin: 0 !important;
}


.sidenav-container a.red {
  color: #a71010;
}

.sidenav-container hr {
  margin: 5px 0;
}

mat-form-field {
  background-color: rgba(255, 255, 255, 0.8);
  right: 0;
  position: absolute;
}
  .example-spacer {
    flex: 1 1 auto;
  }